* {
	padding: 0;
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	color: #333;
}
header {
	height:70px;
	}
header h1 {
	display: inline-block;
	float: left;  
	padding: 15px 24px;
	text-transform: uppercase;
}
header h1 a {
	transition: .3s;
}
header h1 a:hover{
	color: #f84744;

}
header ul {
	float: right;
}
header ul li {
	padding: 24px;
	display: inline-block;
}
header ul li a {
	transition: .3;
}
header ul li a:hover{
	color: #f84744;
}
a {
	text-decoration: none;}
.container {
	width: 90%;
	margin: 0 auto;}
.container {
	content: '';
	display: block;
	clear: both;
}
.mobile-menu {
	float: right;
	display: none;
	padding: 18px;
}
.mobile-menu:hover {
	cursor: pointer;
}
#check {
	display: none;
}
.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -300px;
	width: 300px;
	background-color: rgba(7, 6, 66, .9);
	transition: 0.3s;
	z-index: 9999;
}
.sidebar ul li a {
	color: #fff;
}
.sidebar ul li {
	padding: 24px;
	transition: .3s;
	transition-property: background-color;
}
.sidebar ul li:hover {
	background-color: #f84744;
}
#check:checked ~ .sidebar {
	left: 0;
}
.banner {
	background-color: #0F0BF8;
	padding: 150px 0;
	border-radius: 10px;
}
section {
	padding: 50px 0;
}
.banner img {
	width: 130px;
	border-radius: 15px;
	box-shadow: 0 3px 5px #ddd;
	margin-bottom: 10px;

}
.banner h2,
.banner p,
.banner span {
	color: #fff;
}
.banner h2 {
	margin-bottom: 10px;
}
.banner-left {
	padding-left: 24px;

}
section h3 {
	padding-bottom: 20px;
	text-align: center;
	margin: 20px;
	position:relative;
}
section h3:before {
	content:'';
	display: block;
	position: absolute;
	bottom: -1px;
	width: 120px;
	height: 1px;
	background-color: #ddd;
	left: calc(50% - 60px);
}
section h3:after {
	content:'';
	display: block;
	position: absolute;
	bottom: 0;
	width: 40px;
	height: 4px;
	background-color: #F84744;
	left: calc(50% - 20px);
}
#about p {
	text-align: justify;
	text-indent: 30px;
	line-height: 25px;
	margin-bottom: 15px;
}
#skills,
#contact {
	background-color: #f9f9f9;
}
#skills .bar {
	height: 30px;
	background-color: #fff;
	border:1px solid #ddd;
	margin: 5px 0 20px 0;
}
.bar .nilai {
	height: 30px;
	background-color: #F84744;
	display: inline-block;
	color: #fff;
	text-align: center;
}
.html {
	width: 50%;
}
.css {
	width: 50%;
}
.js {
	width: 10%;
}
.php {
	width: 5%
}
.game {
	width: 100%;
}
.col-4 {
	width: 25%;
	box-sizing: border-box;
	padding: 5px;
	float:left;
	text-align: center;
	margin-bottom: 15px;
}
.col-4 img {
	width: 100%;
}
.col-4 a:hover img {
	transform: scale(1.2);
}


.col-3 {
	width: 33.33%;
	box-sizing: border-box;
	padding: 50px 10px;
	float: left;
	text-align: center;
}
.col-3 h4 {
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
}
footer {
	background-color: #333;
	padding: 50px;
	text-align: center;
	margin-top: 550px;
}
footer .container after {
	text-align: center;
	padding: 50px;
}
footer small {
	color: #fff;
}
html {
	scroll-behavior: smooth;
}
@media (max-width: 768px) {
	.mobile-menu {
		display: block;
	}
	header ul {
		display: none;
	}
	.col-4 {
		width: 50%;
	}
	.col-3 {
		width: 100%;
	}

}